/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}


/* carousel css */

#carouselExampleControls.carousel.slide {
  position: relative;
}
#carouselExampleControls.carousel.slide .hero_content {
  top: 50%;
  left: 50%;
  background-color: rgba(29, 29, 29, 0.6039215686);
  height: 100%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 100%;
}
#carouselExampleControls.carousel.slide .carousel-inner .carousel-item {
  height: 90vh;
}
#carouselExampleControls.carousel.slide .carousel-inner .carousel-item img.img-fluid.d-block.w-100 {
  height: 100% !important;
}

div.container.d-none.d-md-block.companies.my-5.py-3 div.d-flex.justify-content-between.align-items-center {
  gap: 2rem;
}


/*mobile responsive  */
@media only screen and (max-width: 576px) {
  #carouselExampleControls.carousel.slide .hero_content h1 {
    font-size: 25px;
  }
  #carouselExampleControls.carousel.slide .hero_content p {
    font-size: 12px;
  }
  #carouselExampleControls.carousel.slide .carousel-inner .carousel-item {
    height: 35vh;
  }
  #carouselExampleControls.carousel.slide .carousel-inner .carousel-item img.img-fluid.d-block.w-100 {
    height: 100% !important;
  }
  div.row.row-cols-1.row-cols-md-1.row-cols-lg-2.g-4 div.col div.card.mb-3 div.row.g-0 div.col-md-4.img_container img {
    width: 100%;
    height: 20vh;
  }
  div.container.register_section.h-50.bg-info.d-flex.justify-content-between.align-items-center.rounded.my-5.p-5 {
    text-align: center;
    text-transform: capitalize;
    flex-direction: column;
  }
  div.container div#accordionExample.accordion {
    width: 100% !important;
  }
}

/* tablate resposive */
@media only screen and (min-width: 576px) and (max-width: 800px) {
  #carouselExampleControls.carousel.slide .carousel-inner .carousel-item {
    height: 40vh;
  }
  #carouselExampleControls.carousel.slide .carousel-inner .carousel-item img.img-fluid.d-block.w-100 {
    height: 100% !important;
  }
  div.container.register_section.h-50.bg-info.d-flex.justify-content-between.align-items-center.rounded.my-5.p-5 {
    text-align: center;
    text-transform: capitalize;
    flex-direction: column;
  }
  div#accordionExample.accordion {
    width: 100% !important;
  }
}